header {
    width: 100%;
    height: 128px;
    background: #344b8d;
    padding: 32px;
}

header .header-title {
    font-size: 48px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.fb-login-button {
    width: 80px;
    height: 25px;
    left: 18px;
}

.d-ib {
    display: inline-block;
}