body {
    width: 100%;
    clear: both;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
}

.section .next {
    position: absolute;
    right: 24px;
    bottom: 24px;
    width: 64px;
    height: 64px;
    background: red;
    text-align: center;
    line-height: 64px;
    border-radius: 50%;
}

.section-title {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}

.section-title .fb-buttons-wrap {
    margin-top: 48px;
}

.fb-login-btn, .fb-logout-btn {
    background-color: #1b275d;
    width: 128px;
    margin: 0 auto;
}

.fb-btn {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    border: none;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 4px;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    -webkit-font-smoothing: subpixel-antialiased;
}
.fb-btn:hover {
    cursor: pointer;
}

.fb-login-btn {
    background-color: #2ecc71; 
}
.fb-login-btn:hover {
    background-color: #58d68d;
}

.fb-logout-btn {
    background-color: #1abc9c;
}
.fb-logout-btn:hover {
    background-color: #48c9b0;
}

.section-title .fb-login-button {
    width: 80px;
    height: 25px;
}

.input-wrap {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}

.topic-input {
    width: 280px;
    background: none;
    border: 0;
    border-bottom: 2px dashed #ddd;
    line-height: 48px;
    height: 48px;
    text-align: center;
    font-size: 32px;
    outline: none;
}

/* for d3 */

.d3-container .link {
 stroke: #000;
 stroke-width: 1.5px;
}

.d3-container .node {
 fill: #000;
 stroke: #fff;
 stroke-width: 1.5px;
}

